{% load i18n static %}

<div class="container">
    <!-- <div class="" > -->
      <!-- <form class="row g-3" onsubmit="search_user"> -->
        <!-- <label for="user" class="col-sm-2 col-form-label">{% translate "User" %}</label> -->
        <!-- <div class="col-sm-4"> -->
            <!-- <input type="text" class="form-control-plaintext" id="user" value=""> -->
        <!-- </div> -->
        <!-- <div class="col-auto"> -->
            <!-- <button type="submit" id="search_button" class="btn btn-primary mb-3">{% translate "Search" %}</button> -->
        <!-- </div> -->
      <!-- </form> -->
    <!-- </div> -->
    <div class="head fw-bold">
        <div class="row">
            <div class="col">{% translate "User" %}</div>
            <div class="col">{% translate "Info" %}</div>
             <div class="col-2">{% translate "Action" %}</div>
        </div>
    </div>
    <div class="body" id="body_result">
        {% for user in company.associates.all %}
            <div class="row">
                <div class="col">{{user.last_name}} {{user.first_name}}</div>
                <div class="col">{{user.email}}</div>
                 <div class="col-2" id="user_id_{{user_id}}">
                     <button onclick="dissociate(this)" user_id="{{user.id}}" class="btn btn-primary mb-3">{% translate "Dissociate" %}</button>
                 </div>
            </div>
        {% endfor %}
    </div>

</div>
<script>
    function dissociate(el){
        var user_id = $(el).attr('user_id');
        var el = el;
        if (confirm("Are you sure? Process irreverible!") == true) {
            var serializedData = JSON.stringify(
                            {
                                'user_id':user_id,
                            });
            data = {
                'user_id':user_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}' ,
            };
            $.ajax({
                type: 'POST',
                // dataType:'json',
                url: '../dissociateuseraction/',
                data: data,
                success: function (response) {
                    // on successfull creating object
                    console.log(response);
                    if (response.dissociate == true){
                        $(el).parent().html("{% translate 'Dissociated' %}");
                    }
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log("error ajax: ", response);
                }
            });
        }
    }
</script>
