{% extends "home/home_base.html" %}
{% load i18n static leaflet_tags geojson_tags %}

{% block extrastyle %}{{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<DIV class="m-2">
<h1 class="bg-primary text-white fs-1 p-2">{{company.name}}</h1>
<h3 class="bg-primary bg-opacity-25 text-dark fs-3 p-2">{% translate 'Dashboard panel' %}</h3>

    <nav>
      <div class="nav nav-tabs" id="nav-admin-tab" role="tablist">
        <button class="nav-link "       id="nav-listusers-tab" data-bs-toggle="tab" data-bs-target="#nav-listusers" type="button" role="tab" aria-controls="nav-listusers" aria-selected="true" >{% translate 'Associate users' %}</button>
        <button class="nav-link "       id="nav-associate-tab" data-bs-toggle="tab" data-bs-target="#nav-associate" type="button" role="tab" aria-controls="nav-associate" aria-selected="false">{% translate 'Seacrh users' %}</button>
        <button class="nav-link active" id="nav-maps-tab"      data-bs-toggle="tab" data-bs-target="#nav-maps"      type="button" role="tab" aria-controls="nav-maps"      aria-selected="false">{% translate 'Maps' %}</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-admin-tabContent">
      <div class="tab-pane fade " id="nav-associate" role="tabpanel" aria-labelledby="nav-associate-tab">
        <div class="m-3">
        <h1 class="fw-bold">{% translate 'Users available' %}</h1>
        {% include 'companies/user_to_associate.html' %}
        </div>

      </div>
      <div class="tab-pane fade" id="nav-listusers" role="tabpanel" aria-labelledby="nav-listusers-tab">
        <div class="m-3">
        <h1  class="fw-bold">{% translate 'Associate users' %}</h1>
        {% include 'companies/associate_user.html' %}
        </div>
      </div>
      <div class="tab-pane fade show active" id="nav-maps" role="tabpanel" aria-labelledby="nav-maps-tab">
        <div class="m-3">
        <h1  class="fw-bold">{% translate 'Maps' %}</h1>
           <script>
               var collection = {{ qs_results|geojsonfeature:"popupContent"|safe }};
           </script>
           {% include 'maps/searchplace.html' %}
        </div>
      </div>
    </div>
</DIV>


{% endblock %}