# sudo apt-get install binutils libproj-dev gdal-bin
# sudo apt-get install libsqlite3-mod-sp# python3 -m pip install requests
# sudo apt-get install pkg-config
# sudo apt-get install libcairo2-dev
# sudo apt-get install -y libgdk-pixbuf2.0-dev
# sudo apt install pango1.0-tools
# sudo apt-get install -y gettext
# sudo apt install gdal-bin
#
# pip install -r requirements.txt
PyPDF2~=1.27.12
numpy~=1.22.3
qrcode~=7.3.1
Pillow~=9.1.0
reportlab>=3.6.9
jsonfield~=3.1.0
django-weasyprint~=2.1.0
django-leaflet~=0.28.2
django-geojson~=3.2.1
django-tinymce~=3.4.0
django_compressor~=4.0
django-libsass~=0.9
psycopg2-binary~=2.9.0
django-filter~=21.1.0
djangorestframework-gis~=1.0
djangorestframework~=3.13.0
geopy~=2.2.0
django-bootstrap-datepicker-plus~=4.0.0
django-money~=2.1.1
# icalendar
# django-ical
