#sudo apt-get install binutils libproj-dev gdal-bin
#sudo apt-get install libsqlite3-mod-spatialite
# pip install -r requirements.txt
django-tinymce
PyPDF2
numpy
qrcode
django-weasyprint
django-leaflet
django-geojson
jsonfield
Pillow
reportlab
django_compressor
django-libsass

