# sudo apt-get install binutils libproj-dev gdal-bin
# sudo apt-get install libsqlite3-mod-sp# python3 -m pip install requests
# sudo apt-get install pkg-config
# sudo apt-get install libcairo2-dev
# sudo apt-get install -y libgdk-pixbuf2.0-dev
# sudo apt install pango1.0-tools
# sudo apt-get install -y gettext
# sudo apt install gdal-bin
#
# pip install -r requirements.txt
PyPDF2
numpy
qrcode
Pillow
reportlab
jsonfield
django-weasyprint
django-leaflet
django-geojson
django-tinymce
django_compressor
django-libsass
psycopg2-binary~=2.9.0
django-filter~=21.1.0
djangorestframework-gis~=0.18.0
djangorestframework~=3.13.0
geopy
django-bootstrap-datepicker-plus
dateutil
# icalendar
# django-ical
