{% extends "home/home_base.html" %}

{% block nav-bar-sub-brand %}
<span class="navbar-brand text-black fw-bold">
    <span class="text-capitalize">{{request.user.first_name}}</span>, <span class="fs-6">{{request.user.last_name}}</span>
</span>
{% endblock %}

{% block nav-bar-sub-content %}
<div class="navbar-nav me-auto mb-4 mb-lg-0">
    <a class="nav-link" href="{% url 'account:index' %}"><i class="bi bi-house"></i> Profile</a>
    <a class="nav-link" href="{% url 'account:courses' %}"><i class="bi bi-mortarboard"></i> Qualifications</a>
    <a class="nav-link" href="{% url 'account:settings' request.user.id %}"><i class="bi bi-gear"></i> Settings</a>
    <a class="nav-link" href="{% url 'account:calendar' %}"><i class="bi bi-calendar3"></i> Agenda</a>
    <a class="nav-link" href="{% url 'account:worksessions' %}"><i class="bi bi-journal-bookmark-fill"></i> Works</a>
</div>
{% endblock %}