{% load i18n static %}

<style>
{% include 'maps/map_markers.css' %}
</style>
<!-- Plugin Leafleat search location https://github.com/sjaakp/leaflet-search -->
<script src="{% static 'js/plugins/leaflet-search.js' %}"></script>

<div class="w-auto">
    {#  Bootstrap Toast Message javascript #}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToastMsg" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-chat-left-text"></i>
                <strong class="me-auto"> System Message</strong>
                <small><span id="liveToastMsg_head"></span></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span id="liveToastMsg_body"></span>
            </div>
        </div>
    </div>

    {# Info map session modal #}
    <div class="alert alert-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clicca su info per maggiori dettagli">
        {# BOTTONI MAPPA E MODIFICA #}
        <div class="flex-row submit-row float-end p-1 m-0 border rounded alert-secondary">
            <a href="{% url 'companies:sessionbook-users' sessionbook.id %}" class="btn btn-info  "  data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Users booked"><i class="bi bi-person-lines-fill"></i></a>
            <a href="{% url 'companies:sessionbook-update' sessionbook.id %}" class="btn btn-success  "
               data-bs-toggle="tooltip" data-bs-placement="top" title="Update Session"><i class="bi bi-pencil-fill"></i></a>
        </div>
        <span>
            <a href="#" class="bi bi-info-circle-fill  fs-5" data-bs-toggle="modal" data-bs-target="#infoModal"><i class="bi bi-map"></i></a>
        </span>
        <span class="ps-1">Sessione: ID <b>{{sessionbook.id}}</b> /
            NAME <b>{{sessionbook.name}}</b> /
            EXP DATE <b>{{sessionbook.expire_date}}</b> /
            LAT, LNG: <b>{{sessionbook.get_city_latlon}}</b> ({{sessionbook.get_city_name}})
        </span>
    </div>

    {# Info session Modal Panel #}
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Istruzioni sulla ricerca</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>I valori <b>Job</b>
                        <ul>
                        {%for job in sessionbook.jobs.all%}<li>{{job}}</li>{%endfor%}
                        </ul>
                    Le <b>Date</b> (<i>{{sessionbook.start_date}}/{{sessionbook.end_date}}</i>)
                    sono presi dalla Sessione di lavoro.</p>
                    <p>Nel campo <b>Extra days</b> inserire il numero di giorni cui per estendere ricerca sia prima che
                      dopo il periodo selezionato. Verranno visualizzati anche gli operatori impegnati.</p>
                    <p>La mappa visualizza gli operatori liberi, la loro posizione indicata in agenda, le date libere
                      durante nel periodo selezionato e le date impegnate nei giorni estesi dal campo <i>extra</i>.
                      Dove non è indicato nulla l'operatore si intende reperibile presso la Location di default. </p>
                    <p><b>Spostando la mappa</b> con il mouse viene aggiornata la ricerca con i dati inseriti.</p>
                    <p><b>Cambiando i dati</b> viene automaticamente aggiornata la mappa.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {# CAMPI DI RICERCA #}
    <div id="search_div" class="mb-1" >
        <div class="row m-0 align-items-center">
            <div class="col-6 col-md-2 form-floating">
                <input id="days_input" class="form-control" type="number" value="0" min="0" max="15" name="days">
                <label for="days_input">Extra days</label>
            </div>
            <div class="col-6 col-md-2 text-center">
                <button class="btn alert-info align-middle fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParametri"
                        aria-expanded="false" aria-controls="collapseParametri">
                    <i class="bi bi-info-square"></i><i class="bi bi-three-dots-vertical"></i>
                </button>
            </div>
            <div class="col-md m-md-2 ">
                <div class="collapse" id="collapseParametri">
                    <div class="alert-info ">
                        <p class="m-0 p-0 fs-6">
                            <span><i class="bi bi-calendar4-range"></i> From </span><b>{{sessionbook.start_date}}</b> <span>to </span> <b>{{sessionbook.end_date}}</b>
                        </p>
                        <p class="m-0 p-0">
                            <span><i class="bi bi-briefcase fs-6"></i> Jobs: </span>
                            {%for job in sessionbook.jobs.all%}{{job.title}}/{%endfor%}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# ### MAP & TIMELINE CHART BAR ### #}
    <div class="row m-0">
        {# ### USER LIST SELECTED ### #}
        <div class="col-lg-2 m-0 mt-lg-4 order-lg-last ms-1 p-0 text-center">
            {# Button trigger User List modal #}
            <a href="#" class="bi bi-info-circle-fill  float-start" data-bs-toggle="modal"
               data-bs-target="#userListModal"></a>

            {# Info User List Modal Panel #}
            <div class="modal fade" id="userListModal" tabindex="-1" aria-labelledby="userListModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="infoModalLabel">Istruzioni sulla ricerca</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                            <p>Sezione di visualizzazione della lista utenti scelti</p>
                            <p>Per aggiungere un utente cliccare sul <i>marker</i> della mappa e poi sul tasto
                                <i class="btn-info bi bi-list-task"></i> </p>
                            <p>Per rimuovere un utente cliccare sull'icona <i class="bi bi-eraser-fill"></i> posta a fianco del nome.</p>
                            <p>Per inviare gli inviti agli utenti in lista cliccare sull'icona <i class="bi bi-envelope"></i></p>
                            <p class="alert-warning">Per ragioni di sicurezza antispam, gli invii sono consentiti ogni 10 minuti. </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-success btn-sm float-end" onclick="send_invite_now(this)" data-bs-toggle="tooltip" data-bs-placement="left" title="Invito rapido"><i class="bi bi-envelope"></i></button>
            <h3 class="bg-info p-1 "><i class="bi bi-list-task"></i>
                Users selected list
            </h3>
            <span class="alert-info fst-italic">Click su <i class="bi bi-eraser-fill"></i> per cancellare</span>
            <ul id="option_list_display" class="list-unstyled bg-info text-start ">
                <li>Seleziona utenti dalla mappa</li>
            </ul>
        </div>

        <div class="col m-0 p-0">

            {# SPINNER DI ATTESA SU MAPPA #}
            <div id="spinner" class="cssload-aim"></div>

            {# ### INFO MAP MARKERS ### #}
            <div class="row ">
                <div class="col ">
                    <div class="row text-center alert-secondary fw-bold">
                        <div class="col">
                            Markers:
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col align-items-center m-0 p-0">
                            Normal
                            <span id="result_number_normal" class="badge bg-secondary ms-1">0</span>
                        </div>
                        <div class="col align-items-center m-0 p-0">
                            Favorite
                            <span id="result_number_favorite"  class="badge bg-secondary ms-1">0</span>
                        </div>
                        <div class="col align-items-center m-0 p-0">
                            Total
                            <span id="result_number" class="badge bg-secondary ms-1">0</span>
                        </div>
                    </div>

                </div>
                <div class="col-4 ms-2">
                    <div class="row">
                        <div class="col text-center alert-secondary fw-bold">
                            Users in map:
                        </div>
                    </div>
                    <div class="col text-center">
                        Total
                        <span id="total_users_map" class="badge bg-secondary ms-1">0</span>
                    </div>
                </div>
            </div>

            {# ### MAPPA ### #}
            <div id="map"></div>

            {# ### INFO TIMELINE ### #}
            <div class="alert-warning "><i class="bi bi-info-circle"></i> Muovi la mappa per aggiornare il TIMELINE CHART</div>

            <div class="alert alert-info mt-1 mb-0 text-center" role="alert"  data-bs-toggle="tooltip"
                 data-bs-placement="bottom" title="Clicca su info per maggiori dettagli">
                {# Button trigger info session modal #}
                <a href="#" class="float-start bi bi-info-circle-fill fs-5" data-bs-toggle="modal"
                   data-bs-target="#chartModal"><i class="bi bi-bar-chart-steps"></i></a>

                <span class="fst-italic fw-bold">TIMELINE CHART</span>
            </div>
            {# Info chart Modal Panel #}
            <div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="chartModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="chartModalLabel">Info timeline</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Il <b>Timeline</b> fornisce informazioni temporali d'insieme sugli operatori
                                    visualizzati in mappa al fine di facilitare la lettura sugli impegni.</p>
                                <p>Il <i>periodo selezionato</i> viene riportato nella prina riga <i>Range</i> con il
                                    <span style="color: blue;">colore blu</span>.</p>
                                <p>Gli operatori che hanno la <i>Default Position</i> visualizzata in mappa, sono rappresentati da
                                    una riga di <span class="alert-dark" style="color: yellow;">colore giallo</span>.</p>
                                <p>Al di fuori della Default Position abbiamo due tipi di operatori:</p>
                                <p>Gli <i>operatori liberi</i>, sono rappresentati da una barra di
                                    <span style="color: green;">colore verde</span>.</p>
                                <p>Gli <i>operatori impegnati</i>, sono rappresentati da una barra di
                                    <span style="color: black;">colore nero</span>.</p>
                                <p class="text-decoration-underline">N.B. Gli operatori impegnati vengono visualizzati
                                    solo se sono stati indicati i <i>giorni
                                    extra periodo</i>  nel campo.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            {# CHART BAR #}
            <div id="timeline" class="" style="height: 180px; width=100%"></div>
        </div>

    </div>
</div>
<script type="text/javascript">
{% include "maps/map_markers2.js" %}
</script>
