{% load i18n %}

<div class="inline-group">
    <h2>{% translate 'Check course' %}</h2>
    <div class="check">
        <h4>{% translate 'Course features' %}</h4>
        <div>{% translate 'Course type' %}: {{protocol.get_type_display}}</div>
        <div>{% translate 'Max course learners' %}: {{protocol.getMaxLearnersTheory}}</div>
        <div>{% translate 'Max practice learners per trainer' %}: {{protocol.getMaxLearnersPractice}}</div>
    </div>
    <div class="check">
        <h4><b>{% translate 'Theory' %}</b> </h4>
        <div class="{%if protocol.checkHoursTheory%}success{%else%}danger{%endif%}">
            {% translate 'Provided hours' %}: {{protocol.getHoursTheory}} /
            {% translate 'Request hours' %}: {{protocol.getHoursTheoryRequest}}
            {% if not protocol.checkHoursTheory %}
            / <span>{% translate 'Missing hours' %}: {{protocol.getDifferenceHoursTheory}}</span>
            {%endif%}
        </div>
    </div>
    <div class="check">
        {% if protocol.checkPractice %}
        <h4><b>{% translate 'Practice' %}</b> </h4>
        <div class="{%if protocol.checkNumTrainer%}success{%else%}danger{%endif%}">
            {%if protocol.checkNumTrainer%}
                {% translate 'Provided trainers enough' %}
            {%else%}
                <span>{% translate 'Provided trainers NOT enough' %}</span>
<!--                Trovati più di {{protocol.getPracticeLearnersPerTainer}} discenti per ogni docente-->
            {%endif%}
        </div>
        <div class="{%if protocol.checkHoursPractice%}success{%else%}danger{%endif%}">
            {%if protocol.checkHoursPractice%}
                {% translate 'Practice hours enough' %}
            {%else%}
                <span>{% translate 'Practice hours NOT enough' %}</span>
                {% translate 'Provided' %}: {{protocol.getHoursPractice}}
                {% translate 'Request' %}: {{protocol.getHoursPracticeRequest}}
                {% translate 'Missing' %}:  {{protocol.getDifferenceHoursPractice}}
            {%endif%}
        </div>
        {%endif%}
    </div>
    <div class="check">
        <h4><b>Check all</b></h4>
        {%if protocol.checkAll%}
        <div class="checkall">
            <div class="success">{% translate 'Check passed' %}</div>
        </div>
        {%else%}
        <div class="checkall">
            <div class="danger"><span>{% translate 'Check NOT passed' %}</span></div>
        </div>
        {%endif%}
    </div>
</div>
    