{% extends "companies/index_base.html" %}
{% load i18n static %}

{% block content %}
<div class="">
    <div>
        <h1>{% translate "Book sessions list" %}</h1>
    </div>

    {# RICERCA #}
    <div>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="floatingInputValue" placeholder="{% translate 'Search by name and notes' %}"
                       aria-label="Ricerca per nome e note" aria-describedby="search"
                       value="{{request.GET.qs}}" name="qs">
                <button id="search" type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

    {# ADD SESSION #}
    <div class="my-2">
        <a class="btn btn-success bi-plus-circle-fill" href="{% url 'companies:sessionbook-create' %}">
            {% translate "New session" %}</a>
    </div>

    {# HEAD GRIGLIA #}
    <div class="row  d-none d-lg-block g-1">
    <div class="row g-1">
        <div class="col ">
            <p class=" fw-bold text-white bg-secondary text-center">{% translate "Actions" %}</p>
        </div>

        <div class="col ">
            <p class=" fw-bold text-white bg-secondary text-center">
                <i class="bi bi-bookmark"></i> {% translate "Work session" %}</p>
        </div>
        <div class="col ">
            <p class=" fw-bold text-white bg-secondary text-center">
                <i class="bi bi-calendar-x"></i> {% translate "Expire date" %}</p>
        </div>
        <div class="col ">
            <p class=" fw-bold text-white bg-secondary text-center">
                <i class="bi bi-calendar-range"></i> {% translate "Start/End dates" %}</p>
        </div>
        <div class="col ">
            <p class=" fw-bold text-white bg-secondary text-center">
                <i class="bi bi-card-text"></i> {% translate "Notes" %}</p>
        </div>

        <div class="col ">
            <p class=" fw-bold text-white bg-secondary text-center">{% translate "Overview" %}</p>
        </div>
    </div>
    </div>

    {# BODY COLONNE GRIGLIA #}
    {% for sb in sessionbook_list %}
    <div class="row mb-3 mb-lg-2 pb-1 g-1 border-bottom alert-secondary">
        <div class="col-md">
            <div class="overflow-scroll" style="max-height: 8rem;">
                <span class="text-break">{{sb.name}}</span>
            </div>
        </div>
        <div class="col">
            <div class="overflow-scroll" style="max-height: 8rem;">
                {{sb.expire_date}}
            </div>
        </div>
        <div class="col">
            <div><i class="bi bi-align-start"></i> {{sb.start_date}} <br>
                 <i class="bi bi-align-end"></i> {{sb.end_date}}</div>
        </div>
        <div class="col-lg">
            <div class="overflow-scroll" style="max-height: 8rem;" ><span class="text-break">{{sb.note}}</span></div>
        </div>
        <div class="col m-0 p-0 border rounded p-0 m-0 align-self-start">
            <div class="text-center d-grid gap-0">
                <a class="btn btn-outline-primary btn-sm m-0 p-0 width-100" href="{% url 'companies:sessionbook-users' sb.id %}">
                    <i class="float-start bi bi-person-lines-fill"></i>
                    <span class=""> {% translate "Manage" %} </span>
                </a>
            </div>
            <div class="row text-center p-0 m-0 mt-1 mx-2 mx-lg-0 alert-info">
                <div class="col "data-bs-toggle="tooltip" title="Resources"><i class="bi bi-person"></i> {{sb.total_users_request}}</div>
                <div class="col "data-bs-toggle="tooltip" title="Dates"><i class="bi bi-calendar3-week"></i> {{sb.datebook_set.all|length}}</div>
                <div class="col "data-bs-toggle="tooltip" title="Jobs"><i class="bi bi-briefcase"></i> {{sb.jobs.all|length}}</div>
            </div>
            <div class="row row-cols-2  p-0 m-0 mt-1">
                <div class="col  m-0 p-0 pe-1 text-truncate">
                    <span class="badge bg-secondary">{{sb.user_option_list.all|length}}</span>
                    <span class="text-truncate">{% translate "Invited" %}</span> </div>
                <div class="col m-0 p-0 ps-1 text-danger text-truncate">
                    <span class="badge bg-danger ">{{sb.user_decline_list.all|length}}</span>
                    <span class="text-truncate">{% translate "Declined" %}</span> </div>
                <div class="col m-0 p-0 pe-1 text-danger text-truncate">
                    <span class="badge bg-primary">{{sb.total_users_booked}}</span>
                    <span class="">{% translate "Booked" %}</span> </div>
                <div class="col m-0 p-0 ps-1 text-danger text-truncate">
                    <span class="badge bg-success">{{sb.total_users_confirmed}}</span>
                    <span class="">{% translate "Confirmed" %}</span> </div>
            </div>
            {% if sb.is_full %}<div class="text-center my-1 alert-success border border-success"><i class="bi bi-clipboard-check"></i> Full</div>{% endif %}
        </div>
        <div class="col-lg order-lg-first text-center">
                <a href="{% url 'companies:openmap' sb.id %}" class="btn btn-info  "  data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Open map"><i class="bi bi-map-fill"></i></a>
                <a href="{% url 'companies:sessionbook-update' sb.id %}" class="btn btn-success  "
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Update Session"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'companies:sessionbook-delete' sb.id %}" class="btn btn-danger  "
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi bi-trash-fill"></i></a>
        </div>
    </div>
    {% endfor %}

    {# IMPAGINAZIONE #}
    <div class="mt-3 text-center fs-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="bi-skip-backward-fill"></a>
                <a href="?page={{ page_obj.previous_page_number }}" class="bi-caret-left-fill"></a>
            {% endif %}

            <span class="current">
                {% translate "Page" %} {{ page_obj.number }} {% translate "of" %} {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="bi-caret-right-fill"></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="bi-skip-forward-fill"></a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock %}
