{% extends "companies/index_base.html" %}
{% load i18n static %}

{% block content %}
<div class="">
    {# BOTTONI MAPPA E MODIFICA #}
    <div class="flex-row submit-row float-end p-1 m-0 border rounded alert-secondary">
            <a class="btn btn-info" href="{% url 'companies:openmap' sb.id %}"  data-bs-toggle="tooltip"
               data-bs-placement="top" title="Open map"><i class="bi bi-map-fill"></i></a>
            <a class="btn btn-success" href="{% url 'companies:sessionbook-update' sb.id %}"
           data-bs-toggle="tooltip" data-bs-placement="top" title="Update Session"><i class="bi bi-pencil-fill"></i></a>
    </div>

    {# DATI DELLA WORK SESSION #}
    <div class="bg-light p-lg-3 border float-start float-lg-none my-2">
        <h1 class="fw-bold border-bottom">Work sessions id {{sb.id}}</h1>
        <div class="row">
            <div class="col-2 col-md-3"><span class="">Bookmark name:</span></div>
            <div class="col"><p class="fw-bold">{{ sb.name }}</p></div>
        </div>
        <div class="row">
            <div class="col-2 col-md-3"><span class="">Address session:</span></div>
            <div class="col"><p class="fw-bold">{{ sb.address }}</p></div>
        </div>
        <div class="row">
            <div class="col-2 col-md-3"><span class="">Session notes:</span></div>
            <div class="col"><p class="fw-bold text-break">{{ sb.note }}</p></div>
        </div>
        <div class="row">
            <div class="col-2 col-md-3"><span class="">Session expiration date:</span></div>
            <div class="col"><p class="fw-bold">{{ sb.expire_date }}</p></div>
        </div>
    </div>
    <div class="clearfix"></div>

    {# USERS LIST INVITED & DECLINED #}
    <div class="border p-lg-3">
        <h2 class="fw-bold border-bottom">Users in session </h2>
        <div class="row gx-0">
            <div class="col-lg">
                <div class="fw-bold bm-1">Invited users <span class="badge bg-primary">{{sb.user_option_list.count}}</span></div>
                <div class="p-1 alert-primary rounded">
                {# Invited list #}
                    <div class="">
                        {% for user in sb.user_option_list.all %}
                        <div>{{user}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="vr d-none d-lg-block mx-1"></div>
            <div class="col-lg">
                <div class="fw-bold bm-1 text-danger ">Declined users <span class="badge bg-danger">{{sb.user_decline_list.count}}</span></div>
                <div class="p-1 alert-danger rounded">
                {# Declined list #}
                    <div class="" >
                        {% for user in sb.user_decline_list.all %}
                        <div>{{user}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Users booked</h2>

    {# BOOKED HEAD GRID #}
    <div class="d-none d-lg-block">
        <div class="row fw-bold mb-3">
            <div class="col-1 bg-secondary mx-1">Dates</div>
            <div class="col bg-secondary mx-1">Jobs</div>
            <div class="col-1 bg-secondary mx-1">Number</div>
            <div class="col-lg align-self-stretch">
                <div class="row mt-1 mt-lg-0 align-self-stretch">
                    <div class="col bg-secondary mx-1 text-center">Users self booked</div>
                    <div class="col bg-secondary mx-1 text-center">Users company confirmed</div>
                </div>
            </div>
        </div>
    </div>

    {# BOOKED BODY GRID #}
    {% for date in sb.datebook_set.all %}
    {% with fulldate=date.is_full total_confirmed=date.users_confirm.count %}
    <div class="row mb-2 mb-lg-1">
        <div class="d-none d-md-block d-lg-none p-0">
            <div class="row m-0 p-0">
                <div class="col-lg-1 col-md mx-1 bg-secondary ">Date</div>
                <div class="col mx-1 bg-secondary ">Job</div>
                <div class="col-lg-1 col-md mx-1 bg-secondary ">Number</div>
            </div>
        </div>
        <div class="col-lg-1 col-md mx-1 border border-2 align-self-stretch {% if date.is_full %} alert-success {% endif %}">
            <span class="d-md-none col-1 me-1 bg-secondary">Date: </span>
            {% if date.is_full %} <i class="bi bi-clipboard-check"></i><br class="d-none d-md-block"> {% endif %}
            {{date.date}}
        </div>
        <div class="col mx-1 border border-2 align-self-stretch {% if date.is_full %} alert-success {% endif %}">
            <span class="d-md-none col-1 me-1 bg-secondary">Job: </span>
            {{date.job.title}}
            {% if date.number_user <= 0 %}<span class="fw-bold fst-italic"> Not request in this date</span>{% endif %}
        </div>
        <div class="col-lg-1 col-md mx-1 border border-2 align-self-stretch {% if date.is_full %} alert-success {% endif %}">
            <span class="d-md-none col-1 me-1 bg-secondary">Number: </span>
            {{date.number_user}}
        </div>
        <div class="col-lg align-self-stretch">
            <div class="row mt-1 mt-lg-0 align-self-stretch">
                {# HEAD #}
                <div class="d-lg-none p-0">
                    <div class="row m-0 p-0">
                        <div class="col bg-secondary mx-1 text-center border border-secondary">Users self booked</div>
                        <div class="col bg-secondary mx-1 text-center border-start border-end border-2 border-secondary">Users company confirmed</div>
                    </div>
                </div>

                {# BOOKED #}
                <div class="col mx-1 border {% if date.is_full %} alert-success {% endif %} align-self-stretch">
                    <form method="post">{% csrf_token %}
                        <input type="hidden" name="datebook_id" value="{{date.id}}">
                        <div class="col-1 m-0 p-0 align-self-stretch text-center float-end">
                            <button class="btn m-0 p-0" type="submit" id="confirm" name="confirm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Add confirm list"
                            {% if fulldate %} disabled {% endif %}>
                                <i class="bi bi-arrow-right-square"></i></button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row align-items-center">
                            <div class="col align-self-stretch px-0">
                                {% if fulldate %}
                                {% for user in date.user_booked %}
                                <div class="form-check">
                                    <label class="form-check-label" for="flexCheckDefault_{{user.id}}">
                                    {{user}}
                                    </label>
                                </div>
                                {% endfor %}
                                {% else %}
                                {% for user in date.user_booked %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{user.id}}" name="users" id="flexCheckDefault_{{user.id}}">
                                    <label class="form-check-label" for="flexCheckDefault_{{user.id}}">
                                    {{user}}
                                    </label>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>

                        </div>
                    </form>
                </div>

                {# CONFIRMED #}
                <div class="col mx-1 border border-2 {% if date.is_full %} border-success alert-success
                                            {% else %} border-danger {% endif %}
                                            align-self-stretch align-self-center ">
                    <form method="post">{% csrf_token %}
                        <input type="hidden" name="datebook_id" value="{{date.id}}">
                        <div class="row align-items-center">
                            <div class="col-1 m-0 p-0 align-self-stretch text-center float-start">
                                <button class="btn m-0 p-0" type="submit" id="confirm" name="confirm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Remove confirm list"
                                {%if total_confirmed <= 0 %}disabled{% endif %} >
                                    <i class="bi bi-arrow-left-square"></i>
                                </button>
                            </div>
                            <div CLASS="clearfix"></div>
                            <div class="col align-self-stretch px-0">
                                {% for user in date.users_confirm.all %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{user.id}}" name="users_confirm" id="flexCheckDefault_{{user.id}}">
                                    <label class="form-check-label" for="flexCheckDefault_{{user.id}}">
                                    {{user}}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-lg-none border-bottom border-secondary border-1 alert-secondary py-1"></div>
    </div>

    {% endwith %}
    {% endfor %}

</div>
{% endblock %}
