{% extends "companies/index_base.html" %}
{% load i18n static %}

{% block content %}
<div class="container">
    <div>
        <h1>Book sessions list</h1>
    </div>

    <div>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="floatingInputValue" placeholder="Ricerca per nome e note"
                       aria-label="Ricerca per nome e note" aria-describedby="search"
                       value="" name="qs">
                <button id="search" type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i> Cerca</button>
            </div>
        </form>
    </div>
    <div class="my-2">
        <a class="btn btn-success bi-plus-circle-fill" href="{% url 'companies:sessionbook-create' %}"> Add new session</a>
    </div>
    <div class="row">
        {% with "Azioni Name Start End Notes" as list %}
        {% for field in list.split %}
        <div class="col ">
            <p class=" fw-bold text-white bg-secondary text-center">{{field}}</p>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
    {% for sb in sessionbook_list %}
    <div class="row mb-2">
        <div class="col text-center">
                <a href="{% url 'companies:openmap' sb.id %}" class="btn btn-info  "  data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Open map"><i class="bi bi-map-fill"></i></a>
                <a href="{% url 'companies:sessionbook-update' sb.id %}" class="btn btn-success  "
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Update Sessione"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'companies:sessionbook-delete' sb.id %}" class="btn btn-danger  "
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi bi-trash-fill"></i></a>
        </div>
        <div class="col">
            <div>{{sb.name}}</div>
        </div>
        <div class="col">
            <div>{{sb.expire_date}}</div>
        </div>
        <div class="col">
            <div>{{sb.start_date}}/{{sb.end_date}}</div>
        </div>
        <div class="col">
            <div>{{sb.note}}</div>
        </div>
    </div>
    {% endfor %}

    <div class="mt-3 text-center fs-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="bi-skip-backward-fill"></a>
                <a href="?page={{ page_obj.previous_page_number }}" class="bi-caret-left-fill"></a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="bi-caret-right-fill"></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="bi-skip-forward-fill"></a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock %}
