{% extends "companies/index_base.html" %}
{% load i18n static %}

{% block extrascript %}{{form.media}}{% endblock %}

{% block content %}
<div>
    <h1 class="">{% translate 'Settings ' %} <b>{{object}}</b></h1>
    <h2>{{company.name}}</h2>
    <div class="">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
            {{profile.as_p}}
            <button class="btn btn-success">Aggiorna</button>
            <a href="{% url 'companies:home' %}" class="btn btn-secondary">Annulla</a>
        </form>
    </div>
</div>
{% endblock %}