{% load i18n static %}

<DIV class="m-2">
    <h1 class="bg-primary bg-opacity-25 text-dark fs-3 p-2"><span >{% translate 'Owner Courses Panel' %}</span></h1>
</DIV>

<div>
    <form class="row g-3" onsubmit="search_course">
        <label for="course" class="col-sm-1 col-form-label">{% translate "Course" %}</label>
        <div class="col-sm-4">
            <input type="text" class="form-control-plaintext" id="course" value="">
        </div>
        <div class="col-auto">
            <button type="submit" id="search_button" class="btn btn-primary mb-3">{% translate "Search" %}</button>
        </div>
    </form>
</div>
<div id="course_response" class="">

    {% include 'account/home_courses_object.html' %}

</div>
<script>
window.onload = function() {
    document.getElementById('search_button').addEventListener('click', search_course);

    function response_from_ajax(response){
        var body = document.getElementById('course_response');
        body.innerHTML = response;
    };

    function search_course(e){
        console.log("search_course", e);
        e.preventDefault();
        var url = "{% url 'account:searchcourse' %}";
        var slug = document.getElementById('course').value;
        var data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    slug: slug,
            }
        $.ajax({
            type: 'POST',
            // dataType:'json',
            url: url,
            data: data,
            success: function (response) {
                // on successfull creating object
                // console.log(response);
                response_from_ajax(response);
            },
            error: function (response) {
                // alert the error if any error occured
                console.log("error ajax: ", response);
                var body = document.getElementById('body_result');
                body.innerHTML = "Errore nella richiesta";
            }
        });
    };
};
</script>


