{% load i18n static %}

<DIV class="m-2">
<h1>{% translate 'Company Admin Panel' %}</h1>

    <nav>
      <div class="nav nav-tabs" id="nav-admin-tab" role="tablist">
        <button class="nav-link active" id="nav-associate-tab" data-bs-toggle="tab" data-bs-target="#nav-associate" type="button" role="tab" aria-controls="nav-associate" aria-selected="false">{% translate 'Company list' %}</button>
        <!-- <button class="nav-link"        id="nav-listusers-tab" data-bs-toggle="tab" data-bs-target="#nav-listusers" type="button" role="tab" aria-controls="nav-listusers" aria-selected="true" >List</button> -->
      </div>
    </nav>
    <div class="tab-content" id="nav-admin-tabContent">
      <h1 class="bg-primary text-white p-2 fs-2">{% translate 'Dashboard Companies' %}</h1>
      <div class="tab-pane fade show active" id="nav-associate" role="tabpanel" aria-labelledby="nav-associate-tab">
        <p>{% translate 'List companies you are admin' %}</p>
            {% for company in company_list %}
                <div class="m-3">
                <a href="{% url 'companies:company-view' company.id %}" class="btn btn-primary">{% translate 'Open' %}</a> {{company.name}}
                </div>
          {% endfor %}
      </div>
      <div class="tab-pane fade" id="nav-listusers" role="tabpanel" aria-labelledby="nav-listusers-tab">
        bbb
      </div>
    </div>
</DIV>