{% extends "home/base.html" %}

{% block title %}Digi.Safe.{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'home:index' %}">{{ _('Digi.Safe.') }}</a></h1>
{% endblock %}

{% block nav-bar %}
<!-- As a link -->
<div class="">
  <nav class="navbar navbar-dark bg-dark">
    <div class="px-1">
      {% if user.is_anonymous %}
      <a class="navbar-brand" href="{% url 'home:index' %}">Home</a>
      <a class="navbar-brand" href="{% url 'account:index' %}">Login</a>
      {% else %}
      <a class="navbar-brand" href="{% url 'account:index' %}">Account</a>
      {% endif %}
    </div>
  </nav>
</div>
{% endblock %}