{% extends "home/home_base.html" %}
{% load i18n static  %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}
{% block nav-bar-sub %}{% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center m-3"></h1>
    <div class="">
        <h1 class="text-center">
            {% translate "Professional, Technician and Business Network Organization" %}
        </h1>
        <p><img src="{% static 'imgs/home/online-learning.png' %}"> Gestione Centro di Formazione</p>
        <p><img src="{% static 'imgs/home/macro.png' %}"> Gestione Ente di Formazione</p>
        <p><img src="{% static 'imgs/home/company.png' %}"> Gestione Aziendale</p>
        <p><img src="{% static 'imgs/home/civil_engineer.png' %}"> Gestione Professionisti</p>
        <p><img src="{% static 'imgs/home/operator.png' %}"> Gestione Operatori</p>
        <p><img src="{% static 'imgs/home/teacher.png' %}"> Gestione Docenti</p>
        <p><img src="{% static 'imgs/home/network.png' %}"> Mercato Elettronico Privato</p>
    </div>
</div>


{% endblock %}
