{% load i18n static accounttags %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="">

{# include 'calendar/modal.html' #}

<DIV class="m-2">

    {# TITOLO #}
    <h1 class="bg-primary bg-opacity-25 text-dark fs-3 p-2"><span class="">{% translate 'Agenda Panel' %}</span></h1>

    <div class="calendar">

        {# BARRA NAVIGAZIONE MESE #}
        <h1 class="calendar-head text-center fs-1">
            <div class="float-start"><a href="{% url 'account:calendar' %}"><i class="bi bi-calendar-event"></i></a></div>
            {% calendar_before_month_name year month as before %}
            {% calendar_next_month_name year month as next %}
            <div class="d-inline "><a href="{% url 'account:calendar-set' before|date:'Y' before|date:'n' %}"><i class="bi bi-arrow-left-square"></i></a></div>
            <div class="d-inline">{% calendar_month_name year month as date %}{{date|date:"F"}}, {{date|date:"Y"}}</div>
            <div class="d-inline "><a href="{% url 'account:calendar-set' next|date:'Y' next|date:'n' %}"><i class="bi bi-arrow-right-square"></i></a></div>
        </h1>

        {# CALENDARIO #}
        <div class="calendar-body">

            {# NOMI SETTIMANA #}
            <div class="row">
            {% calendar_day_name as day_names %}
            {% for day_name in day_names %}
                <div class="card col px-0 text-truncate {% if day_name == 'Saturday' or day_name == 'Sunday' %}text-white bg-primary{% else %}text-dark bg-light{% endif %}   fw-bold text-center border mb-1">{{day_name}}</div>
            {% endfor %}
            </div>

            {# DISTRIBUZIONE MESE #}
            {% calendar_tmpl year month as weeks %}
            {% for week in weeks %}
            <div class="row">
                {% for day in week %}
                    {% calendar_event user day as events %}
                    <div class="card col text-center border-start border-end p-0 {% if not events %} bg-success {% endif %}" style="min-height: 100px;">
                        <div class="card-header {% if day|date:'w'  == '0' or day|date:'w'  == '6' %}text-white bg-primary{% else %}text-dark bg-light{% endif %}  fw-bold p-0">
                            <div class="float-start "><a class="{% if day|date:'w'  == '0' or day|date:'w'  == '6' %}text-white bg-primary{% else %}text-dark bg-light{% endif %}" href="{% url 'account:calendar-add' year month day|date:'j' %}"><i class="bi bi-calendar-plus"></i></a></div>
                            <div>
                            {% calendar_is_today day|date:'Y' day|date:'m' day|date:'d' as is_today %}
                            {% if is_today %}
                                <span class="bg-secondary rounded-pill px-1">{{ day|date:"d, M" }}</span>
                            {% else %}
                                <span>{{ day|date:"d, M" }}</span>
                            {% endif %}
                            </div>
                        </div>
                        <div class="card-body {% if day|date:'w'  == '0' or day|date:'w'  == '6' %}{% else %}{% endif %} p-0">
                            {% for event in events %}
                            <div>
                                {% if event.anonymous %}
                                <p>{% translate 'Busy' %}</p>
                                {% else %}
                                <div id="event_id_{{event.id}}" class="text-truncate ">
                                    <a class="badge bg-secondary" id="calendar_edit_event" data-toggle="modal" href="{% url 'account:calendar-edit' event.id day.year day.month day.day %}" data-target="#modal" title="Edit event" data-tooltip>
                                    {{event.object}}
                                    </a>

                                </div>
                                {% endif %}
                            </div>
                            {% empty %}
                            <div>
                                <p>{% translate 'Free' %}</p>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="calendar-footer"></div>

    </div>
</DIV>

</div>

{% endblock %}